@page
@model BusinessModel_Canvas.Pages.CreateFirmModel
@{
    ViewData["Title"] = "CreateFirm";
    Layout = "~/Pages/Shared/PopupLayout.cshtml";
}


<div id="general-info" class="col" style="height:100%">


    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default" style="background-color: #2b64a0;color: white;font-size: 20px;width: 230px;">Firm Name</span>
        </div>
        <input id="Name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" style="height:100%;border:groove;font-size:20px">
    </div>


    <div class="input-group input-group-lg">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg" style="background-color: #2b64a0;color: white;font-size: 20px;width: 230px;">Firm Description</span>
        </div>
        <textarea id="Description" type="text" class="form-control-plaintext" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" style="height:20vh;border:groove;resize:none;font-size:15px"></textarea>
    </div>


    <div class="input-group input-group-lg">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg" style="background-color: #2b64a0;color: white;font-size: 20px;width: 230px;">Relationship Description</span>
        </div>
        <textarea id="Relationship" type="text" class="form-control-plaintext" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" style="height:20vh;border:groove;resize:none;font-size:15px"></textarea>
    </div>


    <div class="input-group input-group-lg">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg" style="background-color: #2b64a0;color: white;font-size: 20px;width: 230px;">Firm Order</span>
        </div>
        <textarea id="Order" type="text" class="form-control-plaintext" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" style="height:20vh;border:groove;resize:none;font-size:15px"></textarea>
    </div>



    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#partnering-reason" aria-expanded="false" aria-controls="partnering-reason" style="width: 230px; margin-top:10px;font-size:20px;font-size:20px">
        Make Partner
    </button>

    <div id="partnering-reason" class="collapse">

        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-lg" style="background-color: #2b64a0;color: white;font-size: 20px;width: 230px;">Partnering Reason</span>
            </div>
            <textarea id="Reason" type="text" class="form-control-plaintext" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" style="height:20vh;border:groove;resize:none;font-size:15px"></textarea>
        </div>

    </div>

    <button type="button" class="btn btn-info btn-lg" style="margin-top:10px;font-size:20px;" onclick="CreateFirm();">Submit</button>
</div>

@section scripts{
    <script>
        function CreateFirm() {

            if ($("#Name").val() == "") {
                alert("İsim alanını doldurmak zorunludur.");
                return;
            }

            var isPartner = $("#partnering-reason").hasClass("show");

            if (isPartner) {
                var data = { Id: '00000000-0000-0000-0000-000000000000', Name: $("#Name").val() == ""?null:$("#Name").val(), Order: $("#Order").val() == ""?null:$("#Order").val(), Description: $("#Description").val() == ""?null:$("#Description").val(), RelationshipDescription: $("#Relationship").val() == ""?null:$("#Relationship").val(), Reason : $("#Reason").val()  == ""?null:$("#Reason").val()};
                $.post("api/Partners/Create", data, function () {
                    window.opener.location.reload(false);
                    window.close();
                });
            } else {
                var data = {Id: '00000000-0000-0000-0000-000000000000', Name: $("#Name").val() == ""?null:$("#Name").val(), Order: $("#Order").val() == ""?null:$("#Order").val(), Description: $("#Description").val() == ""?null:$("#Description").val(), RelationshipDescription: $("#Relationship").val() == ""?null:$("#Relationship").val() };
                $.post("api/Firms/", data, function () {
                    window.opener.location.reload(false);
                    window.close();
                });
            }


        }
    </script>
}